.quiz{
    background-color:azure;
    position: relative;
    width: 80%;
    margin-left: 150px;
    margin-right:50px;
    border: 2px;
    border-style: dashed;
    margin-bottom: 100px;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 25px;
    color: black;
    font-size: xx-large;
    font-weight: bolder;


}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:lightskyblue;
}
ul{
    list-style: none;
}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: lightcoral;
}
input[type=radio]{
    border: 0px;
}
.nextquestion{
    border-radius: 2px;
    border-style: hidden;
    width: fit-content;
    height: fit-content;
    text-align: center;
    background-color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    position: relative;
    margin-left: 400px;
}

.message{
    background-color: blue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:aquamarine;
}

.options{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:brown;
}

.result{
width: fit-content;
height: auto;
text-align: left;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: bisque;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}